.card-explore {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  width:40%;
  min-width:300px;
  padding:3%;
}

.img-explore {
  max-width:200px;
}

.container-explore {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
}