.container {
  width: 100%;
  min-height: 200px;
}

.box {
  position: relative;
  padding:50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  color:white;
  font-size: 20px;
  background-color: black;
}

.contact {
  padding:30px;
  font-size: 40px;
}