.nav {
  height:100px;
  margin-bottom: 50px;
  width:100%;
  opacity: .9;
  z-index: 20;
  background-color: #060e66;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  display: flex;
}

.logo {
  height:150px;
  margin-left:50px;
  width:150px;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: height 1s, width 1s;
  -moz-transition: height 1s, width 1s;
  -o-transition: height 1s, width 1s;
  transition: height 1s, width 1s;
}
.logo:hover {
  height: 200px;
  width: 200px;
  -webkit-animation:anything linear 1s infinite ;
  -moz-animation:anything linear 1s infinite ;
  animation:anything linear 1s infinite ;
}

.logo-container {
  display: flex;
  width:60%;
}

.anchors-container {
  display: flex;
  width:30%;
  justify-content: flex-end;
  padding-top: 60px;
}

.anchors {
  padding:2px 25px 25px 2px;
  color:grey;
  cursor:pointer;
  -webkit-transition: color .3s, font-size .3s;
   -moz-transition: color .3s, font-size .3s;
     -o-transition: color .3s, font-size .3s;
        transition: color .3s, font-size .3s;
}
.anchors:hover {
  color:white;
  font-size: 18px;
}

@media (max-width: 500px) {
  .anchors {
    display: none;
  }
  .logo {
    height:100px;
    width:100px;
  }

  .logo-container {
    display: flex;
    width:60%;
  }
}

@keyframes anything {
  0%   { transform: rotate(0deg); margin-top:5px; }
  25% { transform: rotate(2.5deg);  margin-top: 0px;}
  50% { transform: rotate(0deg); margin-top: -5px; }
  100% { transform: rotate(-2.5deg);  margin-top: 0px;}
}

